<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
    <link crossorigin="anonymous"
          integrity="sha512-siwe/oXMhSjGCwLn+scraPOWrJxHlUgMBMZXdPe2Tnk3I0x3ESCoLz7WZ5NTH6SZrywMY+PB1cjyqJ5jAluCOg=="
          rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.1/css/bootstrap.min.css}">
    <title>User Page</title>
</head>
<body>
<header class="d-flex flex-wrap justify-content-between align-items-stretch text-white py-2 bg-dark">
    <nav>
        <div class="fs-3 ps-4 me-1 d-inline-block">
            <!--Юзер с ролью-->
            <div class="navbar-nav">
                <span class="navbar-brand" id="user-info"></span>
            </div>
        </div>
    </nav>
    <div>
        <button class="fs-5 pe-4 btn btn-dark text-white-50" form="logout" type="submit">Logout</button>
        <form id="logout" th:action="@{/logout}" th:method="POST"></form>
    </div>
</header>
<!--основной контейнер-->
<div class="container-fluid h-100">
    <div class="row h-100">
        <!--контейнер для боковой панели Юзер Админ-->
        <div class="col-md-2 g-0 py-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a aria-controls="admin-panel" aria-selected="true" class="nav-link active"
                       data-bs-target="#admin-panel" data-bs-toggle="tab" href="#" id="admin-nav-link"
                       role="tab" type="button">Admin</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="user-panel" aria-selected="false" class="nav-link"
                       data-bs-target="#user-panel" data-bs-toggle="tab" href="#" id="user-nav-link"
                       role="tab" type="button">User</a>
                </li>
            </ul>
        </div>
        <!--контейнер для содержимого кнопок боковой панели-->
        <div class="col-md-10 bg-light gx-5 py-3 tab-content">
            <!--контейнер для для правой части экрана-->
            <div aria-labelledby="admin-nav-link" class="tab-pane fade show active" id="admin-panel"
                 role="tabpanel"
                 tabindex="0">
                <h2>Admin panel</h2>
                <!-- список вкладок таблиц-->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a aria-controls="users-table-pane" aria-selected="true" class="nav-link active"
                           data-bs-target="#users-table-pane" data-bs-toggle="tab" href="#" id="users-table-tab"
                           role="tab"
                           type="button">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="new-users-pane" aria-selected="false" class="nav-link"
                           data-bs-target="#new-users-pane" data-bs-toggle="tab" href="#" id="new-users-tab"
                           role="tab"
                           type="button">New User</a>
                    </li>
                </ul>
                <!--контейнер для содержимого вкладок таблиц-->
                <div class="tab-content" role="tabpanel">
                    <!--содержимое вкладки Users Table-->
                    <div aria-labelledby="users-table-tab" class="tab-pane fade show active" id="users-table-pane"
                         role="tabpanel" tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">All users</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--модальное окно редактировать юзера-->
                    <div class="modal fade" id='#editModal'>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit user</h5>
                                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <form id="editForm">
                                        <p>
                                            <label for="idEdit">
                                                <strong>ID</strong>
                                                <input class="form-control" disabled
                                                       id="idEdit"
                                                       type="number">
                                            </label>
                                        </p>
                                        <p>
                                            <label for="editUserFirstName">
                                                <strong>First name</strong>
                                                <input class="form-control" id="editUserFirstName"
                                                       placeholder="First name" required
                                                       type="text">
                                            </label>
                                        </p>
                                        <p>
                                            <label for="editUserLastName">
                                                <strong>Last name</strong>
                                                <input class="form-control" id="editUserLastName"
                                                       placeholder="Last name" required
                                                       type="text">
                                            </label>
                                        </p>
                                        <p>
                                            <label for="editUserEmail">
                                                <strong>Email</strong>
                                                <input class="form-control" id="editUserEmail" placeholder="Email"
                                                       required
                                                       type="email">
                                            </label>
                                        </p>
                                        <p>
                                            <label for="editUserPassword">
                                                <strong>Password</strong>
                                                <input class="form-control" id="editUserPassword" placeholder="Password"
                                                       required
                                                       type="password">
                                            </label>
                                        </p>
                                        <p>
                                            <label for="editUserRoles">
                                                <strong>Role</strong>
                                                <select class="form-select" id="editUserRoles" multiple name="roles" size="2">
                                                    <option id="optionAdmin">ADMIN</option>
                                                    <option id="optionUser">USER</option>
                                                </select>
                                            </label>
                                        </p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                            id="editFormCloseButton"
                                            type="button">Close
                                    </button>
                                    <button class="btn btn-primary" form="editForm" type="submit">Edit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--модальное окно удалить юзера-->
                    <div class="modal fade" id='#deleteModal'>
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete user</h5>
                                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <p>
                                        <label for="idDeleteUser">
                                            <strong>ID</strong>
                                            <input class="form-control" disabled id="idDeleteUser" type="number">
                                        </label>
                                    </p>
                                    <p>
                                        <label for="deleteUserFirstName">
                                            <strong>First name</strong>
                                            <input class="form-control" disabled id="deleteUserFirstName" type="text">
                                        </label>
                                    </p>
                                    <p>
                                        <label for="deleteUserLastName">
                                            <strong>Last name</strong>
                                            <input class="form-control" disabled id="deleteUserLastName" type="text">
                                        </label>
                                    </p>
                                    <p>
                                        <label for="deleteUserEmail">
                                            <strong>Email</strong>
                                            <input class="form-control" disabled id="deleteUserEmail" type="email">
                                        </label>
                                    </p>
                                    <p>
                                        <label for="deleteUserRoles">
                                            <strong>Role</strong>
                                            <input readonly type="text"
                                                   class="form-control"
                                                   id="deleteUserRoles">
                                        </label>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                            id="closeDeleteModal"
                                            type="button">Close
                                    </button>
                                    <button type="submit"
                                            class="btn btn-danger"
                                            id="deleteButton"
                                            onclick="deleteUser()">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--содержимое вкладки New User-->
                    <div aria-labelledby="new-users-tab" class="tab-pane fade" id="new-users-pane" role="tabpanel"
                         tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">Add new user</h5>
                            <div class="form-justify-content-center mx-auto col-4">
                                <div class="card-body text-center">
                                    <form id="add-user-form">
                                        <div class="text-center col-12 offset-3 col-md-6 offset-md-3">
                                            <label class="container-fluid" for="newUserFirstName">
                                                <strong>First name</strong>
                                                <input type="text" id="newUserFirstName" class="form-control"
                                                       placeholder="First name">
                                            </label>
                                            <label class="container-fluid" for="newUserLastName">
                                                <strong>Last name</strong>
                                                <input type="text" id="newUserLastName" class="form-control"
                                                       placeholder="Last name">
                                            </label>
                                            <label class="container-fluid" for="newUserEmail">
                                                <strong>Email</strong>
                                                <input id="newUserEmail" class="form-control" placeholder="Email">
                                            </label>
                                            <label class="container-fluid" for="newUserPassword">
                                                <strong>Password</strong>
                                                <input type="password" id="newUserPassword" class="form-control"
                                                       placeholder="Password">
                                            </label>
                                            <label class="container-fluid">
                                                <strong>Role</strong>
                                                <select id="newUserRoles" size="2" multiple required
                                                        class="form-control">
                                                    <option value="ADMIN">ADMIN</option>
                                                    <option value="USER" selected>USER</option>
                                                </select>
                                            </label>
                                            <input type="submit" class="btn btn-success" value="Add new user">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--контейнер для содержимого на кнопке User на боковой панели-->
            <div aria-labelledby="user-nav-link" class="tab-pane fane" id="user-panel"
                 role="tabpanel" tabindex="0">
                <h2>User</h2>
                <div aria-labelledby="admin-nav-link" class="tab-content" role="tabpanel">
                    <div class="tab-pane fade show active" role="tabpanel" tabindex="0">
                        <div class="card rounded-0">
                            <h5 class="card-header">About user</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id="data-user">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/user.js}"></script>
<script th:src="@{/admin.js}"></script>
<script th:src="@{https://code.jquery.com/jquery-3.6.4.slim.min.js}"
        integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js}"
        integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ=="
        crossorigin="anonymous"></script>
<script crossorigin="anonymous"
        integrity="sha512-1TK4hjCY5+E9H3r5+05bEGbKGyK506WaDPfPe1s/ihwRjr6OtL43zJLzOFQ+/zciONEd+sp7LwrfOCnyukPSsg=="
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>