<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit existing user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin}" th:object="${userToUpdate}">
    <input type="hidden" th:field="*{id}">
    <div class="field">
        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}"/>
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}"/>
    </div>
    <div>
        <label for="authorities">Authorities</label>
        <input type="checkbox" id="authorities"
               th:each="role : ${roles}"
               th:value="${role.getId()}"
               th:text="${role.getName()}"
               th:field="*{roles}"
        />
    </div>
    <button type="submit">Update</button>
</form>
</body>
</html>