<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Authorities</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getPassword()}"></td>
        <td th:utext="${user.getRoles()}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/logout}"><button>Выйти из учетной записи</button></a>
</body>
</html>